// Place all the styles related to the organizer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  padding: 0;
  margin: 0;
  background-color: white;
  background-image: url('bg.png');
}

button{position:absolute}

.subjectArea{
  min-height: 100px;
  min-width: 250px;
  position: absolute;
  margin: 0;
  outline: 1px solid #e2e2e2;

  .inTheCornerRunner{
    width: 10px;
    height: 10px;
    background-image: url('resize.png');
  }

  h1{
    font-family: 'Ubuntu Medium';
    margin: 0;
    padding: 0 7px;
    border-radius: 0 0 5px 0;
    position: absolute;
    background-color: #e2e2e2;
  }

  .subject{
    font-family: 'Arial';
    position: absolute;
    background-color: white;
    min-height: 80px;
    min-width: 200px;
    border-radius: 0 5px 5px 5px;
    .expand{
      width: 20px;
      height: 20px;
      float: right;
      background-image: url('expand.png');
      background-size: 15px 15px;
      background-repeat: no-repeat;
      background-position: center;
    }
    h3{
      margin: 0;
      position: absolute;
      font-family: 'Ubuntu Light';
      padding: 0 7px;
      border-radius: 0 0 5px 0;
    }
  }
}
