// Place all the styles related to the organizer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  padding: 0;
  margin: 0;
  background-color: blue;
}

.subjectArea{
  min-height: 100px;
  min-width: 250px;
  position: absolute;
  margin: 0;
  outline: 1px solid white;

  h1{
    margin: 0;
    background-color: grey;
    display: block;
    width: 100px;
    position: absolute;
    border-radius: 0 0 5px 0;
  }

  .subject{
    outline: 1px solid white;
    font-family: 'Arial';
    position: absolute;
    h3{
      margin: 0;
      background-color: grey;
      display: block;
      width: 100px;
      border-radius: 0 0 5px 0;
    }
  }
}
