// Place all the styles related to the organizer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-image: url('bg.jpg');
  padding: 0;
  margin: 0;
  background-color: blue;
}

html{
  padding: 0;
}

.subjectArea{
  min-height: 100px;
  min-width: 250px;
  background-color: white;
  position: absolute;
  margin: 0;

  h1{
    margin: 0;
    background-color: grey;
    display: block;
    width: 100px;
    border-radius: 0 0 5px 0;
  }

  .subject{
    background-color: grey;
    font-family: 'Arial';
    position: inherit;
  }
}
